@model AplicativoSeguridad.Models.Activo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValEconomico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValEconomico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValOps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValOps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValLegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValLegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValPriv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValPriv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValSeg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValSeg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criticidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criticidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
