@model IEnumerable<AplicativoSeguridad.Models.Activo>

@{
    ViewData["Title"] = "Lista Activos";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h1>Registro de Activos</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Añadir Activo</a>
    </p>
    <table class="table table-striped"
           style="border-collapse: collapse; border-radius: 10px; overflow: hidden; text-align: center; vertical-align: middle">
        <thead style="background-color: black; color: white; text-align: center; vertical-align: middle">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Identificador)
                </th>
                <th>
                    Ubicación
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proceso)
                </th>
                <th>
                    Nombre del activo
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Responsable)
                </th>
                <th>
                    Clasificación
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Criticidad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ubicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proceso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreActivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clasificacion)
                    </td>
                    @if (item.Criticidad == 1)
                    {
                        <td style="background-color: #A3E4D7;">
                            @Html.DisplayFor(modelItem => item.Criticidad)
                        </td>
                    }
                    else if (item.Criticidad == 2)
                    {
                        <td style="background-color: #E67E22;">
                            @Html.DisplayFor(modelItem => item.Criticidad)
                        </td>
                    }
                    else
                    {
                        <td style="background-color: #E74C3C;">
                            @Html.DisplayFor(modelItem => item.Criticidad)
                        </td>
                    }
                    <td>
                        <div class="btn-group-vertical">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>ERROR 403: ACCESO NO AUTORIZADO</h1>

    <p>O si es que cree tener acceso, pruebe iniciando sesión para acceder a la página</p>
    <div>
        <a asp-area="Identity" asp-page="/Account/Login">Inicia sesión aquí</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Volver a la página principal</a>
    </div>

}